<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSExtensionFileProviderSupportsEnumeration</key>
	<true/>
	<key>NSJavaNeeded</key>
	<true/>
	<key>Supports </key>
	<string></string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>Background</string>
		<key>UIImageName</key>
		<string>LaunchScreenImage</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<false/>
	</dict>
	<key>com.apple.security.files.bookmarks.app-scope</key>
	<string>true</string>
	<key>com.apple.security.files.user-selected.read-write</key>
	<string>true</string>
</dict>
</plist>
